name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'Dockerfile'
      - 'CHANGELOG.md'
      - 'README.md'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.92.0
        with:
          components: clippy, rustfmt

      - name: Build
        run: cargo build --verbose

      - name: Format
        run: cargo fmt --check

      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Run tests
        run: cargo test --verbose
